In [ ]:
# edges = []
# count = 0
# with open("wiki-topcats.txt") as f: 
#     for line in f:
#         if count > 1000:
#             break
#         edges.append(line)
        
# categories = {}
# with open("wiki-topcats-categories.txt") as f:
#     for line in f:
#         cat_val = line.split(";")

In [2]:
import pandas as pd
import numpy as np

In [10]:
edges = pd.read_csv("wiki-topcats.txt", sep=" ", names=['src', 'dsn'])

In [11]:
clusters = pd.read_csv("wiki-topcats-categories.txt", sep=';', names=['name', 'nodes'])
clusters['nodes'] = clusters['nodes'].apply(lambda x: x.split())

In [12]:
clusters.head()

,name,nodes
0,Category:Buprestoidea,"[301, 302, 303, 304, 305, 306, 307, 308, 309, ..."
1,Category:People_from_Worcester,"[1056, 1057, 1058, 1059, 1060, 60971, 76515, 7..."
2,Category:Skin_conditions_resulting_from_physic...,"[971, 973, 1166, 1167, 1168, 1169, 1170, 1171,..."
3,Category:Visual_kei_bands,"[1297, 1300, 1311, 1312, 1313, 1314, 1315, 131..."
4,Category:Japanese_rock_music_groups,"[1297, 1300, 1313, 1314, 1315, 1316, 1319, 132..."

In [13]:
clusters.shape

(17364, 2)

In [15]:
edges.head()

   src     dsn
0    0   10772
1    1       2
2    1  170193
3    1  598775
4    2       1

In [16]:
len(edges)

28511807

# randomly node extracion

In [17]:
short_edges = edges#[:2700000 ]

In [18]:
len(short_edges['src'].unique())

154704

In [19]:
max(short_edges['dsn'])

1791486

In [20]:
short_edges.to_csv("wiki-topcats-short.txt", sep=' ', header=False, index=False)

# Normal nodes extraction where we randomly choose the 1700 categories and then extract nodes

In [56]:
clusters_sample = clusters.sample(1700, random_state=1)

In [57]:
nodes_from_clusters = clusters_sample['nodes']

In [58]:
nodes_from_clusters = np.unique(np.hstack(nodes_from_clusters.values))

In [59]:
nodes_from_clusters = nodes_from_clusters.astype(int)

In [60]:
nodes_from_clusters

array([     1,     10,    100, ..., 999989, 999990, 999993])

In [62]:
len(nodes_from_clusters)

386601

In [63]:
edges.shape

(28511807, 2)

In [64]:
edges.head()

   src     dsn
0    0   10772
1    1       2
2    1  170193
3    1  598775
4    2       1

In [147]:
nodes_from_clusters.shape

(386601,)

In [148]:
short_edges = edges[(edges['dsn'].isin(nodes_from_clusters))]# & (edges['dsn'].isin(edges[edges['src'].isin(nodes_from_clusters)]['src']))]

In [149]:
short_edges = short_edges[short_edges['src'].isin(short_edges['dsn'].values)]

In [150]:
len(short_edges)

2087250

In [153]:
len(set(np.concatenate([short_edges['src'].values, short_edges['dsn'].values])))

344877

In [144]:
c = short_edges.groupby('src').count().reset_index(drop=True)
c['dsn'].describe()

count    246308.000000
mean          7.514973
std          14.157544
min           1.000000
25%           2.000000
50%           4.000000
75%           8.000000
max        2377.000000
Name: dsn, dtype: float64

In [145]:
c = short_edges.groupby('dsn').count().reset_index(drop=True)
c['src'].describe()

count    240566.000000
mean          7.694346
std          50.184734
min           1.000000
25%           1.000000
50%           2.000000
75%           6.000000
max       11115.000000
Name: src, dtype: float64

In [120]:
len(short_edges['src'].unique())

320552

In [127]:
len(np.unique(short_edges['dsn'].values))

271791

In [129]:
len(set(np.unique(short_edges['src'].values)) - set(short_edges['dsn'].unique()))

73086

In [123]:
short_edges.shape

(2087250, 2)

In [71]:
short_edges.shape

(2087250, 2)

In [72]:
clusters_sample.to_csv('sample_clusters_ver_2.csv')

In [73]:
clusters_sample.head()

,name,nodes
466,Category:Greek_Orthodox_Patriarchs_of_Alexandria,"[47091, 47092, 47093, 47094, 47095, 47096, 470..."
8249,Category:Writers_from_New_Jersey,"[55522, 70631, 133117, 134234, 134922, 135927,..."
4535,Category:Fictional_telepaths,"[109860, 109861, 109863, 113225, 134933, 14282..."
9474,Category:Scottish_clans,"[157608, 185054, 185739, 186016, 186018, 18662..."
10992,Category:Differential_geometry,"[6, 35580, 63699, 63715, 63718, 69872, 70172, ..."

In [74]:
# clusters_sample.shape

# Get the name vertices

In [75]:
short_edges.to_csv("wiki-topcats-short_ver_2.txt", sep=' ', header=False, index=False)

In [76]:
short_edges.head()

    src      dsn
1     1        2
4     2        1
23    6  1102234
32    9       10
33    9  1101496

In [86]:
clusters_sample['size'] = clusters_sample['nodes'].apply(lambda x: len(x))

In [89]:
# clusters_sample.sort_values('size')

In [3]:
temp = pd.read_csv('wiki-topcats-short_ver_2.txt', sep = ' ', names=['s', 'd'])

In [4]:
temp.shape

(2087250, 2)

In [160]:
names = pd.read_csv("wiki-topcats-page-names.txt", sep=' ', names=['id', 'name'])

In [161]:
names.head()

                      id      name
0               Chiasmal  syndrome
1            Kleroterion       NaN
2               Pinakion       NaN
3  LyndonHochschildSerre  spectral
4              Zariski's      main

In [154]:
len(set(np.concatenate([temp['s'].values, temp['d'].values])))

344877

In [171]:
names = []
indices = []
errors = []
count = 0
with open("wiki-topcats-page-names.txt") as f: 
    for line in f:
        line = line.strip()
        try:
            id_, name = line.split(" ", 1)
            indices.append(int(id_))
            names.append(name)
        except:
            errors.append(int(line))
        
df_names = pd.DataFrame({'ind':indices, 'name': names})
df_names.head()

   ind                                     name
0    0                        Chiasmal syndrome
1    1                              Kleroterion
2    2                                 Pinakion
3    3  LyndonHochschildSerre spectral sequence
4    4                   Zariski's main theorem

In [174]:
set(np.concatenate([temp['s'].values, temp['d'].values])) & set(errors)

set()

In [175]:
df_names_short = df_names[df_names['ind'].isin(set(np.concatenate([temp['s'].values, temp['d'].values])))]

In [176]:
df_names_short.shape

(344877, 2)

In [178]:
df_names_short.to_csv("wiki-topcats-page-names-short_ver_2.csv", sep=' ', header=False, index=False)

In [180]:
df_names.shape[0] - df_names_short.shape[1]

1791406